<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="nav" style="background-color: #638acc;">
  <div class="nav-header">
    <div class="nav-title">
      <a href="{% url 'BH5_Floor4' %}">Hostels</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="dropdown">
    <button class="dropbtn">BH5</button>
    <div class="dropdown-content" style="right: 20px;">
      <a href="{% url 'BH5_GroundFloor' %}">Ground Floor</a>
      <a href="{% url 'BH5_Floor1' %}">Floor 1</a>
      <a href="{% url 'BH5_Floor2' %}">Floor 2</a>
      <a href="{% url 'BH5_Floor3' %}">Floor 3</a>
      <a href="{% url 'BH5_Floor4' %}">Floor 4</a>
      <a href="{% url 'BH5_Floor5' %}">Floor 5</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">BH4</button>
    <div class="dropdown-content">
      <a href="#">Floor 1</a>
      <a href="#">Floor 2</a>
      <a href="#">Floor 3</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">BH3</button>
    <div class="dropdown-content">
      <a href="#">Floor 1</a>
      <a href="#">Floor 2</a>
      <a href="#">Floor 3</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">BH2</button>
    <div class="dropdown-content">
      <a href="#">Floor 1</a>
      <a href="#">Floor 2</a>
      <a href="#">Floor 3</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">BH1</button>
    <div class="dropdown-content">
      <a href="#">Floor 1</a>
      <a href="#">Floor 2</a>
      <a href="#">Floor 3</a>
    </div>
  </div>
</div>
    <div class="row">
        <div>
          <div class="grid">

              <table class="table1">
          <tr>
            <td colspan="33" id="walk">  </td>
          </tr>
          <tr>
            <td colspan="33" id="walk">  </td>
          </tr>

        <tr>
          <td id="walk">  </td>
          <td id="walk">  </td>
                           <td id="walk">  </td>
                 <td colspan="2" id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td><div id="seat"></div></td>
                 <td colspan="10" id="walk">  </td>
                 <td><div id="block"><b>Mess</b></div></td>
                 <td colspan="10" id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td><div id="seat"></div></td>
                 <td colspan="2" id="walk">  </td>
                 <td id="walk">  </td>

             </tr>

             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
                                <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td><div rowspan="2" id="bathroom">B</div> </td>
                 <td id="walk">  </td>
                 <td ><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td ><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td ><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div rowspan="2" id="bathroom">B</div> </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>


             </tr>
             <tr>
               <td colspan="33" id="walk">  </td>
             </tr>
             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
               <td id="walk">  </td>
                 <td colspan="6" id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td colspan="6" id="walk">  </td>
                 <td id="walk">  </td>

             </tr>
             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
                <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="25" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>

             </tr>
             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
               <td id="walk">  </td>
                 <td colspan="3" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="21" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="3" id="walk">  </td>
                 <td id="walk">  </td>

             </tr>
             <tr>
             <td id="walk">  </td>
             <td id="walk">  </td>
             <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="25" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>

             </tr>
             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
               <td id="walk">  </td>
                 <td colspan="3" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="21" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="3" id="walk">  </td>
                 <td id="walk">  </td>

             </tr>
             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
               <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="25" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="4" id="walk">  </td>
                 <td id="walk">  </td>

             </tr>

             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
               <td id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="27" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td id="walk">  </td>

             </tr>
             <tr>
             <td id="walk">  </td>
             <td id="walk">  </td>
             <td id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="27" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td id="walk">  </td>

             </tr>

             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
                <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="25" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>

             </tr>
             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
                <td id="walk">  </td>
                 <td colspan="3" id="walk">  </td>
                 <td><div id="seatS" class="5414" data-toggle="tooltip" data-placement="right" title="5414">14</div></td>
                 <td colspan="21" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="3" id="walk">  </td>
                 <td id="walk">  </td>

             </tr>

             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
               <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seatS"  class="5413" data-toggle="tooltip" data-placement="right" title="5413">13</div></td>
                 <td colspan="25" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>

             </tr>
             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
               <td id="walk">  </td>
                 <td colspan="3" id="walk">  </td>
                 <td><div id="seatS" class="5412" data-toggle="tooltip" data-placement="right" title="5412">12</div></td>
                 <td colspan="21" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td colspan="3" id="walk">  </td>
                 <td id="walk">  </td>

             </tr>

             <tr>
             <td id="walk">  </td>
             <td id="walk">  </td>
             <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seatS" class="5411" data-toggle="tooltip" data-placement="right" title="5411">11</div></td>
                 <td colspan="25" id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>

             </tr>


             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
               <td id="walk">  </td>
                 <td colspan="6" id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seat" class="5406" data-toggle="tooltip" data-placement="right" title="5406">06</div></td>
                 <td id="walk">  </td>
                 <td><div id="seat" class="5404" data-toggle="tooltip" data-placement="right" title="5404">04</div></td>
                 <td id="walk">  </td>
                 <td><div id="seat" class="5402" data-toggle="tooltip" data-placement="right" title="5402">02</div></td>
                 <td colspan="5" id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td colspan="8" id="walk">  </td>
                 <td id="walk">  </td>


           </tr>
           <tr>
                 <td colspan="33" id="walk">  </td>
          </tr>
          <tr>
            <td id="walk">  </td>
            <td id="walk">  </td>
            <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div rowspan="2" id="bathroom">B</div> </td>
                 <td><div id="seat" class="5410" data-toggle="tooltip" data-placement="right" title="5410">10</div></td>
                 <td><div id="seat" class="5409" data-toggle="tooltip" data-placement="right" title="5409">09</div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seat" class="5407" data-toggle="tooltip" data-placement="right" title="5407">07</div></td>
                 <td id="walk">  </td>
                 <td><div id="seat" class="5405" data-toggle="tooltip" data-placement="right" title="5405">05</div></td>
                 <td id="walk">  </td>
                 <td><div id="seat" class="5403" data-toggle="tooltip" data-placement="right" title="5403">03</div></td>
                 <td id="walk">  </td>
                 <td><div id="seat" class="5401" data-toggle="tooltip" data-placement="right" title="5401">01</div></td>
                 <td colspan="3" id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td><div id="seat"></div></td>
                 <td><div rowspan="2" id="bathroom">B</div> </td>
                 <td id="walk">  </td>
                 <td id="walk">  </td>
             </tr>
             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
               <td id="walk">  </td>
                 <td colspan="5" id="walk">  </td>
                 <td><div id="seat" class="5408" data-toggle="tooltip" data-placement="right" title="5408">08</div></td>
                 <td colspan="8" id="walk">  </td>
                 <td><div id="block"><b>Gate</b></div></td>
                 <td colspan="8" id="walk">  </td>
                 <td><div id="seat"></div></td>
                 <td colspan="5" id="walk">  </td>
                 <td id="walk">  </td>
          </tr>
          <tr>
            <td colspan="33" id="walk">  </td>
          </tr>
          <tr>
            <td colspan="33" id="walk">  </td>
          </tr>
          <tr>
            <td colspan="33" id="walk">  </td>
          </tr>
         </table>
      </div>
      <br>
      <div class="menu" style="font-family:Georgia, serif;">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <table class="table2">
              <th>Single Rooms</th>
              <tr>
              <td colspan="2" id="walk">  </td>
              </tr>
            <tr>
              <td><div id="seat1S"></div></td>
              <td>- Available for 1</td>
            </tr>
            <tr>
              <td colspan="2" id="walk">  </td>
            </tr>
            <tr>
              <td><div id="seat2S"></div></td>
              <td>- Not Available</td>
            </tr>
              <th>Double Rooms</th>
              <tr>
              <td colspan="2" id="walk">  </td>
              </tr>
            <tr>
              <td><div id="seat1"></div></td>
              <td>- Available for 2</td>
            </tr>
            <tr>
              <td colspan="2" id="walk">  </td>
            </tr>
            <tr>
              <td><div id="seat2"></div></td>
              <td>- Available for 1</td>
            </tr>
            <tr>
              <td colspan="2" id="walk">  </td>
            </tr>
            <tr>
              <td><div id="seat3"></div></td>
              <td>- Not Available</td>
            </tr>
          </table>
          <br>
          <br>
          <button type="button" class="button-custom" style="float:left;">
          <a href="{% url 'select' %}">Reserve Room</a></button>
          </div>
        </div>
<br>


</div>
  <script>
var myNodelist = document.querySelectorAll("#seat");

for(var i = 0; i < myNodelist.length; i++)
{
  var num = 2;
  var x = myNodelist[i].classList;
  var y = x.item(0);
  {% if rooms %}
  {% for room in rooms %}
  var number = {{room.no}};
        if(y == number)
        {
          {% if room.vacant %}
          num--;
          {% endif %}
        }
  {% endfor %}
  {% endif %}
  if(num==2){
  myNodelist[i].style.backgroundColor = "steelblue";
  }
  else if(num==1){
  myNodelist[i].style.backgroundColor = "#b8c6dd";
  }
  else{
  myNodelist[i].style.backgroundColor = "#eff5f7";
  }
  var z = myNodelist[i].classList;
}
var myNodelist = document.querySelectorAll("#seatS");

for(var i = 0; i < myNodelist.length; i++)
{
  var num = 1;
  var x = myNodelist[i].classList;
  var y = x.item(0);
  {% if rooms %}
  {% for room in rooms %}
  var number = {{room.no}};
        if(y == number)
        {
          {% if room.vacant %}
          num--;
          {% endif %}
        }
  {% endfor %}
  {% endif %}
  if(num==1){
  myNodelist[i].style.backgroundColor = "#b8c6dd";
  }
  else{
  myNodelist[i].style.backgroundColor = "#c9c6c3";
  }
  var z = myNodelist[i].classList;
}
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock content %}
</html>
