{% extends 'base.html' %}

{% block content %}

    <div class="wrapper">

        <div class="table">

            <div class="row header">
                <div class="cell">
                    Room Number
                </div>
                <div class="cell">
                    Room Id
                </div>
                <div class="cell">
                    Type
                </div>
                <div class="cell">
                    Status
                </div>
                <div class="cell">
                    Allotted To
                </div>
            </div>
            {% for room in rooms %}
                <div class="row">
                    <div class="cell" data-title="Number">
                        {{ room.no }}
                    </div>
                    <div class="cell" data-title="Name">
                        {{ room.name }}
                    </div>
                    <div class="cell" data-title="Type">
                        {{ room.room_type }}
                    </div>
                    <div class="cell" style="{% if room.vacant %} color: green {% endif %}" data-title="Status">
                        {% if room.vacant %} vacant {% else %} occupied {% endif %}
                    </div>
                    <div class="cell">
                        {% if room.vacant %}
                            -
                        {% else %}
                            <div class="box">
                                <a class="button" href="#popup1">{{ room.student }}</a>
                            </div>

                            <div id="popup1" class="overlay">
                                <div class="popup">
                                    <h2>Student Details</h2>
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                        <div class="table">

                                            <div class="row">
                                                <div class="cell">
                                                    Student Name
                                                </div>
                                                <div class="cell">
                                                    {{ room.student.student_name }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="cell">
                                                    Father's Name
                                                </div>
                                                <div class="cell">
                                                    {{ room.student.father_name }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="cell">
                                                    Enrollment Number
                                                </div>
                                                <div class="cell">
                                                    {{ room.student.course }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="cell">
                                                    Date of birth (yyyy-mm-dd)
                                                </div>
                                                <div class="cell">
                                                    {{ room.student.dob }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="cell">
                                                    Gender
                                                </div>
                                                <div class="cell">
                                                    {{ room.student.gender }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block more_links %}
    <a href="{% url 'warden_dues' %}">
        Dues
    </a>
    <a href="{% url 'warden_add_due' %}">
        Add Due
    </a>
    <a href="{% url 'warden_remove_due' %}">
        Remove Due
    </a>
    <a href="{% url 'logout' %}">
        Logout
    </a>
{% endblock more_links %}
